<div id="sidebar" ng-Controller="DropdownCtrl">
  <div>
    <div class="collections">
      <div class="collection" ng-repeat="collection in data.collections" ng-mouseenter="hover()" ng-mouseleave="hover()">
        <a class="book-category" ng-href="#/collection/{{collection}}"> {{collection}}</a>
        <div class="btn-group" uib-dropdown >
          <!-- <button type="button" class="btn btn-sm btn-default" ng-click="loadFriends()" uib-dropdown-toggle> -->
            <i class="glyphicon glyphicon-share-alt" ng-click="loadFriends()" ng-show="show" uib-dropdown-toggle></i>
          <!-- </button> -->
          <ul class="uib-dropdown-menu" role="menu">
            <li><input type="text" class="form-control" ng-model="query" ng-click="$event.stopPropagation()"></input></li>
            <li role="menuitem" ng-click="shareCollection(collection, user)" ng-repeat="user in friends | filter:query">
              <a href="#">{{user}}</a>
            </li>
          </ul>
        </div>
        <!-- <button type="button" ng-show="show" ng-click="removeCollection(collection)" class="btn btn-sm btn-default"> -->
          <i class="glyphicon glyphicon-trash" ng-show="show" ng-click="removeCollection(collection)"></i>
        <!-- </button> -->
      </div>
    </div>
  </div>
  <form class="form-inline" ng-submit="addCollection()">
    <div>
      <input id="new-collection" type="text" ng-model="newCollection.name" name="name" placeholder="add a collection" required/>
      <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
    </div>
  </form>
</div>
