

#sidebar {}

li {
    list-style-type: none;
}

/*
if we want the scroll through feature this might
need some extra modifications
.fixed {
        position: fixed;
        width: 25%;
}
.scrollit {
        float: left;
        width: 71%
}*/

