<uib-accordion>
  <uib-accordion-group heading="Books">
    <table st-table="booksCollection" class="book-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Read Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="books in booksCollection">
          <td> {{book.title | uppercase}} </td>
          <td> {{book.author | uppercase}} </td>
          <td> {{book.readstatus}} </td>
          <td>
            <button type = "button" ng-click="removeBook(book)" class="btn btn-sm btn-danger">
              <i class="glyphicon glyphicon-trash">
              </i>
            </button>
          </td>
        </tr>
      </tbody>

    </table>
  </uib-accordion-group>
</uib-accordion>