
<div class = "landing-container">
  <a ng-click="signupOpen()" id = "sign-up-button">sign up</a>
  <h1 class="landing-header">knapsack</h1>
  <h3>Your favorite books of past and present. All in one knapsack</h3>
<div class = "landing-table" ng-controller="MainController">
  <table st-safe-src="bookCollection" st-table="displayedCollection" class="table book-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Share</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="book in displayedCollection">
        <td> {{book.title | lowercase}} </td>
        <td> {{book.author}} </td>
        <td>
          <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-sm btn-default" ng-click="loadFriends()" uib-dropdown-toggle>
              <i class="glyphicon glyphicon-share-alt">
            </i>
            </button>
            <ul class="uib-dropdown-menu" role="menu">
              <li role="menuitem" ng-click="shareBook(book, user)" ng-repeat="user in friends">
                {{user}}
              </li>
            </ul>
        </td>
        <td>
          <button type="button " ng-click="removeBook(book)" class="btn btn-sm btn-default">
            <i class="glyphicon glyphicon-trash ">
            </i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5 " class="text-center ">
          <st-pagination st-items-by-page=5></st-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

</div>