<uib-accordion>
  <uib-accordion-group heading="Books">
    <table st-table="addBook" class="table add-book">
      <tbody>
        <tr>
          <form name="addBook">
          <td>
            <input type="text" name="title" placeholder="Title" required>
          </td>
          <td>
            <input type="text" name="author" placeholder="Author">
          </td>
          <td>
            <input type="text" name="readStatus" placeholder= "Read Status">
          </td>
          <td>
            <button type="button" ng-click="addBook(book)" class = "btn btn-sm">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </td>
          </form>
        </tr>
      </tbody>
    </table>
    <table st-table="booksCollection" class="table book-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Read Status</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="book in bookCollection">
          <td> {{book.title | uppercase}} </td>
          <td> {{book.author | uppercase}} </td>
          <td> {{book.readStatus}} </td>
          <td>
            <button type="button" ng-click="removeBook(book)" class="btn btn-sm btn-danger">
              <i class="glyphicon glyphicon-trash">
              </i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </uib-accordion-group>
</uib-accordion>
